/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
	& h2 {
		font-size: 175%;
		padding-bottom: 0;
		
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
		
	}
	& img {
		float: left;
		margin-top: .75em;
		margin-bottom: .75em;
		margin-right: 1em;
		margin-left: 1em;
	}
}

/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the footer */
footer {
	& p {
		text-align: center;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3,
 p, ul {
	padding-top: .5em;
	padding-bottom: .5em;
}

ul {
	margin-left: 2em;
}

b {
	width: 80%;
	margin: auto;
	border: 2px, solid, var(--accent-color);
}

header {
	border-bottom: 2px, solid, var(--accent-color);
	background: linear-gradient(
		#f6bb73 0%,
		white 30%,
		white 65%,
		#f6bb73 100%,
		30deg
	);

}

main h1 {
	border-top: 2px, solid, var(--accent-color);
	
}

footer {
	background-color:var(--accent-color);
	color: white;
}

main {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

footer p {
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

blockquote {
	font-style: italic;
	padding-left: 2em; 
}

main img.speaker {
	border: 4px, double var(--accent-color);
	border-radius: 10px; 

}




